.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px dashed #596172;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}