.creator{

	width: 31%;
	border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	color:	rgba(255, 255, 255, 0.8);

		&:hover{
			border: 2px solid #e535ab;
    	border-radius: 6px;
			
			.creator__title{
				text-decoration: underline;
			}
		}

	&__title{
		font-size: 24px;
		margin-bottom: 5px;
		text-align: center;
	}
	
	&__list{
		text-align: left;
	}
}

