.page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.creators{
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 20px;
}

@media (max-width: 690px) {
	.creators {
		grid-template-columns: 1fr;
		max-width: 400px;
		margin: 0 auto;
	}
}