@import './styles/vars.scss';
@import './styles/normalize.scss';

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}