.button{
	  border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
		min-width: 80px;
		padding: 8px 10px;

		&_default{
			background: none;
			border: 2px solid var(--color-white);
			color: var(--color-white);

			&:hover{
				background: var(--color-white);
				color: var(--color-black);
			}
		}

		&_black{
			padding: 10px;
    	font-size: 18px;
    	margin-bottom: 10px;
    	border: none;
    	color: var(--color-white);
    	background-color: var(--color-black);
		}

		&_blue{
			padding: 10px;
    	font-size: 18px;
    	margin-bottom: 10px;
    	border: none;
    	color: var(--color-white);
			background-color: var(--color-blue);
		}
}


.loader {
	animation: rotating 2s linear infinite;
	filter: invert(0) !important;
	height: 18px;
	width: 18px;
  }
  
  @keyframes rotating {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }